.embla {
    position: relative;
    width: 100vw;
    margin: auto;
    --slide-height: 348px;
    --slide-spacing: 25px;
    --slide-size: 348px;
}
.embla__viewport {
    overflow: hidden;

}
.embla__container {
    backface-visibility: hidden;
    
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    max-width: 100%;
    padding-left: var(--slide-spacing);
}
.embla__slide__img {
    cursor: pointer;
    border-radius: 1rem;
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
}
.embla__progress {
    border-radius: 2px;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    background-color: #f84040;
    position: absolute;
    bottom : -20px;
    left : calc(50% - 512px);
    height: 4px;
    justify-self: flex-end;
    align-self: center;
    width: 1034px;
    overflow: hidden;
    z-index: 12;
  }
  .embla__progress__bar {
    background-color: #f7f7f7;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
  }